.building-info-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.building-info {
  padding: 0.5rem 0;
}

/* MEDIA QUERIES */

/* MOBILE */
@media screen and (max-width: 480px) {
  .building-info-wrapper {
    display: flex;
    flex-direction: column;
  }
}
