@import '../../sass/config';

.popup {
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  height: 480px;
  width: 400px;
  background-color: $light-color;

  &-with-overlay {
    width: 700px;
  }

  .form-container {
    background-color: $light-color;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;

    &-half-size {
      width: 55%;
    }

    .button-box {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding-top: 1rem;
    }

    form {
      display: flex;
      flex-direction: column;
      padding: 0 3rem;
      height: 90%;
      justify-content: center;

      .inner-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h3 {
          line-height: 1;
        }

        a {
          margin-top: 1rem;
          opacity: 0.7;
        }

        .social-container {
          margin: 0.8rem 0;
          a {
            border: 1px solid $grey-color;
            border-radius: 50%;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            margin: 0 5px;
            height: 40px;
            width: 40px;
          }
        }
      }
    }
  }

  .overlay-container {
    position: absolute;
    top: 0;
    left: 55%;
    height: 100%;
    width: 45%;
    z-index: 10;
    background: url('../../assets/img/illustrations/relaxed.jpg');
    background-size: cover;
    background-position: 70%;
  }
}

.auth-background {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: url('../../assets/img/photos/AuthBackground.jpg') no-repeat center
    center/cover;
  height: 100vh;
}

.reset-password-form {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}

.new-password-form {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 450px;
  padding: 2rem;
  border-radius: 8px;
}

/* MEDIA QUERIES */

/* MOBILE */
@media screen and (max-width: 480px) {
  .popup {
    position: relative;
    width: 95vw;

    .form-container {
      &-half-size {
        width: 100%;
      }

      form {
        padding: 0.5rem;
      }
    }

    &-with-overlay {
      width: none;
    }

    .overlay-container {
      display: none;
    }
  }
}
