@import '../../../sass/config';

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $light-color;
  max-width: $max-width;
  margin: 0 auto;

  &-divider {
    width: 100%;
  }

  &-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &-image {
    width: 150px;
    height: 150px;
    background: url('../../../assets/img/illustrations/buildings.svg') no-repeat
      center center/cover;
  }
}
