@import '../../../sass/config';

.arrows-block {
  display: flex;
  justify-content: flex-end;
}

.arrow-wrapper {
  display: block;
  position: relative;
  width: 50px;
  height: 50px;
  background-color: $light-color;
  border: 1px solid $light-grey-color;
  border-radius: (50px / 2);
  color: $dark-color;
  transition: color 0.2s ease-in-out;
  overflow: hidden;
  cursor: pointer;

  &:hover {
    color: $primary-color;
  }

  .arrow-btn {
    position: absolute;
    display: block;
    border: none;
    color: inherit;
    background: transparent;
    outline: none;
    cursor: pointer;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 50%) scale(1.1);
  }
}
