@import '../../../../sass/config';

.searchbar {
  display: flex;
  align-items: center;
  padding: 0.5rem 2rem;
  background-color: $light-color;
  width: 100%;
  height: inherit;

  &-relative {
    position: relative;
  }

  &-hidden {
    transform: translate3d(0, -100%, 0);
  }

  &-fixed {
    transition: transform 0.3s ease;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
  }

  &-transition {
    transition: none;
  }
}

.filter-buttons {
  display: flex;
  flex-direction: row;

  > div {
    margin: 0.3rem;
  }
}
