@import '../../../../sass/style.scss';

.checkbox-label {
  display: flex;
  flex-wrap: nowrap;

  .checkmark {
    border: 1px solid $grey-color;
    border-radius: 3px;
    margin-right: 0.5rem;
    height: 25px;
    width: 25px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:after {
      content: '';
      display: none;
      margin: auto;
      margin-top: 3px;
      width: 5px;
      height: 10px;
      border: solid $light-color;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }

  input[type='checkbox'] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  input:checked ~ .checkmark {
    background-color: $primary-color;
  }

  input:checked ~ .checkmark:after {
    display: block;
  }
}
