@import '../../../../sass/style.scss';

.textarea-field {
  border: 1px solid $grey-color;
  border-radius: 8px;
  background-clip: padding-box;
  outline: none;
  transition: all 0.3s ease-out;
  display: block;
  padding: 0.385rem 0.5rem;
  min-height: 120px;
  resize: vertical;

  &:focus {
    border: 1px solid $dark-color;
  }

  &.error {
    border-color: $danger-color;
  }
}
