@import '../../../../sass/config';

.textarea-field {
  border: 1px solid transparent;
  border-radius: 8px;
  background-color: lighten($light-grey-color, 5%);
  background-clip: padding-box;
  outline: none;
  transition: all 0.3s ease-out;
  display: block;
  padding: 0.385rem 0.5rem;
  min-height: 120px;
  resize: vertical;

  &-error {
    background-color: $light-color;
    border-color: $danger-color;
  }

  &:hover {
    background-color: $light-color;
    border-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 0 4px transparentize($color: $primary-color, $amount: 0.9);
  }

  &:focus {
    background-color: $light-color;
    border-color: rgba(0, 0, 0, 0.1);
    box-shadow: none;
  }
}
