@import '../../../../../sass/config';

.locations-filter-wrapper {
  background-color: $light-color;
  border-radius: 8px;
  overflow: hidden;

  .locations-filter-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 1rem 1rem 2rem;
  }

  .locations-filter-buttons {
    margin: 1rem 2rem;
  }
}

.districts-filter-wrapper {
  overflow-y: scroll;
  height: 70vh;
  min-width: 60vw;
  padding: 0.5rem 2rem;

  .distric-filter-block {
    margin-bottom: 1rem;
    border-bottom: $light-grey-color solid 1px;

    &:last-of-type {
      border-bottom: none;
    }

    .distric-filter {
      margin-bottom: 1rem;
    }

    .subdistricts-filter-wrapper {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto;
      grid-gap: 0 3rem;
    }
  }
}
