@import '../../../../sass/config';

.features {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
}

.feature-item-icon {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 1rem;
  width: 16px;
  height: 16px;
}

.feature-item {
  display: flex;
  align-items: center;
}

/* MEDIA QUERIES */

/* MOBILE */
@media screen and (max-width: 480px) {
  .features {
    &-wrapper {
      grid-template-columns: repeat(2, 1fr);

      .feature-item {
        display: flex;
        flex-direction: column;

        &-icon {
          margin: 0;
        }
      }
    }

    &-special {
      flex-direction: column;
      margin: 0;
      &-wrapper {
        margin: 0.5rem auto;
      }
    }
  }
}
