@import '../../../../sass/config';

.features {
  &-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    .feature-item {
      margin: 0.5rem 0;

      &-icon {
        margin-right: 0.5rem;
      }
    }
  }

  &-special {
    display: flex;
    justify-content: flex-start;
    margin: 1rem;
    margin-left: 0;

    &-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      margin-right: 3rem;
    }

    &-icon {
      font-size: 1.5rem;
      display: flex;
      border-radius: 50%;
      height: 60px;
      width: 60px;
      justify-content: center;
      align-items: center;
      margin: auto;
    }
  }
}

/* MEDIA QUERIES */

/* MOBILE */
@media screen and (max-width: 480px) {
  .features {
    &-wrapper {
      grid-template-columns: repeat(2, 1fr);

      .feature-item {
        display: flex;
        flex-direction: column;

        &-icon {
          margin: 0;
        }
      }
    }

    &-special {
      flex-direction: column;
      margin: 0;
      &-wrapper {
        margin: 0.5rem auto;
      }
    }
  }
}
