@import '../../../sass/config';

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 2rem;
  z-index: 1;
  width: 100%;
  top: 0;
  background-color: $light-color;
  height: 80px;

  a,
  button {
    margin: 0 0.25rem;
    padding: 0.45rem;
  }

  ul {
    display: flex;
    align-items: center;
    li {
      a {
        position: relative;
      }
    }

    .lang {
      display: flex;
      margin-left: 3rem;
      li {
        button {
          position: relative;
          display: inline-block;
          background: transparent;
          border: none;
          border: 1px solid transparent;
          border-radius: 50%;
          margin: 0 0.25rem;
          padding: 0.5rem;
          outline: none;
          cursor: pointer;
          transition: all 0.5s;
          color: $dark-color;
          &:hover {
            color: $primary-color;
            border: 1px solid $primary-color;
          }
        }
      }
    }
  }

  .right-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .locality-select {
      margin-left: 1rem;
    }
  }
}

/* MEDIA QUERIES */

/* TABLEST */
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0.5rem;
    height: 50px;

    h1 {
      align-self: center;
    }

    ul {
      position: absolute;
      top: 50px;
      left: 0;
      width: 100vw;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      background-color: $light-color;
      z-index: 100;
      transform-origin: 0% 0%;
      transform: translate(-100%, 0);
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
      li {
        margin: 0.3rem 0;
      }

      .lang {
        margin: 0;
      }
    }

    .checked {
      transform: none;
    }
  }
}
