@import '../../../sass/config';

.category-card {
  display: flex;
  position: relative;
  overflow: hidden;
  height: 180px;
  border-radius: 8px;

  picture {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
  }

  &:before {
    content: '';
    position: absolute;
    right: -32px;
    bottom: -32px;
    background: rgba(237, 71, 81, 0.5);
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.4s ease-out;
    z-index: 2;
  }

  &:hover:before {
    transform: scale(38);
  }

  &:hover {
    .category-card-content {
      transform: none;
    }

    .category-card-options {
      opacity: 1;
    }
  }

  &-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
  }

  &-content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
    transform: translateY(50px);
    transition: transform 0.4s ease-out;
  }

  &-options {
    opacity: 0;
    height: 90px;
    display: flex;
    flex-direction: column;
    transition: opacity 0.4s ease-out;
  }
}
