@import '../../../../sass/config';

.edit-btn {
  outline: none;
  background: $light-color;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 4px;
  margin-bottom: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $grey-color;
  cursor: pointer;
  transition: 0.4s;
}
