@import '../../../sass/config';

.post-form-container {
  max-width: 1000px;
  min-height: auto;
  border-radius: 20px;
  margin: auto;
  margin-top: 4rem;
  margin-bottom: 1rem;
  overflow: hidden;
  padding: 2rem;
  background: $light-color;
  box-shadow: inset 0 0 0 1px #e5e5e5;

  .step-title {
    display: flex;
    justify-content: center;
  }
}

.flex-container {
  display: flex;
  flex-direction: row;

  > div {
    margin-right: 4rem;
  }
}

.upload-images {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin-bottom: 1rem;
}

.form-button-box {
  display: flex;
  justify-content: space-between;
  margin-left: 2rem;
  margin-right: 2rem;
}
