@import '../../../../sass/config';

.dropzone {
  width: 100%;
  height: 300px;
  border: 2px dashed $grey-color;
  border-radius: 8px;
  background: $light-color;
  margin-bottom: 1rem;
  cursor: pointer;
  outline: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: $light-grey-color;

  &--active {
    border-color: $primary-color;
  }

  &--filled {
    max-height: 200px;
  }

  p {
    color: $grey-color;
  }
}
