$primary-color: #fe4060;
$dark-color: #333333;
$grey-color: rgb(180, 180, 180);
$light-color: #fff;
$danger-color: #f32013;
$gradient: linear-gradient(to right, #fe4060, #fea240);

$max-width: 1100px;
