$primary-color: #ed4751;
$dark-color: #333333;
$grey-color: rgb(180, 180, 180);
$light-color: #fff;
$light-grey-color: #d8d8d8;
$danger-color: #ed4751;
$accent-color: #ffee44;
$gradient: linear-gradient(to right, #ed4751, #fea240);
$link-color: #0065d9;
$navbar-height: 9vh;

$max-width: 1100px;
