$primary-color: #ed4751;
$dark-color: #333333;
$grey-color: #b4b4b4;
$light-color: #fff;
$light-grey-color: #d8d8d8;
$border-color: #e1e4e8;
$danger-color: #ed4751;
$accent-color: #ffee44;
$gradient: linear-gradient(to right, #ed4751, #fea240);
$link-color: #0065d9;

$max-width: 1100px;
