@import 'config';

// Backgrounds
.bg {
  &-gradient {
    background: $gradient;
  }
}

.dark-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba($dark-color, 0.2);
}

.dark-overlay-strong {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba($dark-color, 0.4);
}

// Container
.container {
  max-width: 1140px;
  margin: 1rem auto;
  overflow: hidden;
  padding: 0 2rem;

  &-center {
    display: flex;
    justify-content: flex-start;
    text-align: center;
    flex-direction: column;
    align-items: center;
  }
}

.divider {
  border-top: 1px solid $border-color;
}

// Borders
.light-border {
  box-shadow: inset 0 0 0 1px $border-color;
}

.light-shadow-border {
  box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.05);
}

.shadow-border {
  box-shadow: 1px 3px 5px 1px rgba(0, 0, 0, 0.1);
}

// Buttons
.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0.7rem 1.3rem;
  border-radius: 50px;
  font-size: 1rem;
  outline: none;
  transition: all 0.5s;
  min-width: 150px;
  position: relative;
  overflow: hidden;

  &-primary {
    border: none;
    background: $primary-color;
    color: $light-color;
    font-weight: bold;
    &:hover {
      background: lighten($primary-color, 7%);
    }
    &:disabled {
      cursor: auto;
      background: lighten($primary-color, 20%);
    }
  }

  &-secondary {
    border: none;
    background: rgb(233, 233, 233);
    color: $dark-color;
  }

  &-white {
    border: none;
    background: $light-color;
    color: $primary-color;
  }

  &-ghost {
    color: $light-color;
    border: 2px solid $light-color;

    &:hover {
      background-color: rgba(255, 255, 255, 0.3);
    }
  }

  &-ghost-pm {
    color: $primary-color;
    border: 2px solid;
    border-color: $light-grey-color;
    background-color: $light-color;

    &-active {
      color: $light-color;
      border: 2px solid;
      border-color: $primary-color;
      background-color: $primary-color;
    }

    &:hover {
      border-color: $primary-color;
    }
  }

  &-ghost-sd {
    color: darken($grey-color, 10%);
    border: 2px solid;
    border-color: $light-grey-color;
    background-color: $light-color;
  }

  &-toggle {
    position: relative;
    text-align: center;
    transition: background 600ms ease, color 600ms ease;
    color: $dark-color;
    font-weight: bold;
  }

  &-sm {
    font-size: 0.8rem;
    padding: 0.4rem;
    min-width: 100px;
    border-width: 1px;
    text-transform: none;
  }

  &-md {
    font-size: 0.9rem;
    padding: 0.5rem;
    min-width: 100px;
    border-width: 1px;
    text-transform: none;
  }

  &-loading {
    color: transparent;
    transition: none;
  }
}

.post-btn {
  outline: none;
  background: $light-color;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 4px;
  margin-bottom: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $grey-color;
  cursor: pointer;
  transition: 0.4s;

  &:hover {
    color: darken($grey-color, 20);
  }
}

.post-btn-lg {
  outline: none;
  background: $light-color;
  border: none;
  border-radius: 8px;
  height: 40px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $grey-color;
  cursor: pointer;
  transition: 0.4s;

  &:hover {
    color: darken($grey-color, 20);
  }
}

.close-button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.8rem;
  height: 40px;
  width: 40px;
  cursor: pointer;
  border-radius: 50%;
  outline: none;
  transition: all 0.2s;
  overflow: hidden;
  border: none;
  color: lighten($dark-color, 30);
  background: transparent;

  &:hover {
    background: $light-grey-color;
  }
}

.link {
  cursor: pointer;
  color: $dark-color;
  background: none;
  border: none;
  outline: none;
  &:hover {
    color: $primary-color;
  }

  &-blue {
    color: $link-color;
  }

  &-light {
    color: $light-color;

    &:hover {
      color: darken($light-color, 30%);
    }
  }
}

.field {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 100%;
  margin-bottom: 1.1rem;

  &-name {
    margin-left: 0.2rem;
  }

  &-required {
    margin-left: 0.2rem;
    font-size: 0.8rem;
    color: $danger-color;
  }

  &-input-wrapper {
    position: relative;
  }
}

// Toggle radio button
input[type='radio'].toggle {
  display: none;
  & + label {
    cursor: pointer;
    min-width: 60px;
    &:hover {
      background: none;
      color: #1a1a1a;
    }
    &:after {
      background: $dark-color;
      content: '';
      height: 100%;
      position: absolute;
      top: 0;
      transition: left 200ms cubic-bezier(0.77, 0, 0.175, 1);
      width: 100%;
      z-index: -1;
    }
  }
  &.toggle-left + label {
    border-right: 0;
    &:after {
      left: 100%;
    }
  }
  &.toggle-right + label {
    margin-left: -5px;
    &:after {
      left: -100%;
    }
  }
  &:checked + label {
    cursor: default;
    color: $primary-color;
    transition: color 200ms;
    &:after {
      left: 0;
    }
  }
}

.label-flex {
  align-self: flex-start;
  margin-left: 1rem;
}

// Text styles
.x-large {
  font-size: 3.5rem;
}

.large {
  font-size: 3rem;
}

.medium {
  font-size: 1rem;
}

.lead {
  font-size: 1.5rem;

  &-2x {
    font-size: 1.5rem;
  }

  &-3x {
    font-size: 2rem;
  }

  &-bold {
    font-weight: bold;
  }
}

.small {
  font-size: 0.8rem;
}

// Text colors
.text {
  &-primary {
    color: $primary-color;
  }

  &-secondary {
    color: $grey-color;
  }

  &-light {
    color: $light-color;
  }

  &-dark {
    color: $dark-color;
  }

  &-sm {
    font-size: 0.8rem;
  }

  &-bold {
    font-weight: 700;
  }
}

// Padding & margin
.px {
  &-05 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  &-1 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  &-2 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  &-4 {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  &-8 {
    padding-left: 8rem;
    padding-right: 8rem;
  }
}

.py {
  &-05 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  &-1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  &-2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.mx {
  &-1 {
    margin-right: 1rem;
    margin-left: 1rem;
  }

  &-2 {
    margin-right: 2rem;
    margin-left: 2rem;
  }

  &-12 {
    margin-left: 12rem;
    margin-right: 12rem;
  }
}

.my {
  &-1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  &-2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

.mt {
  &-1 {
    margin-top: 1rem;
  }
}

.mb {
  &-05 {
    margin-bottom: 0.5rem;
  }
  &-1 {
    margin-bottom: 1rem;
  }
  &-2 {
    margin-bottom: 2rem;
  }
}

.mr {
  &-1 {
    margin-right: 1rem;
  }
}

.ml {
  &-05 {
    margin-left: 0.5rem;
  }
}

// Skeleton
.skeleton {
  &-line {
    width: 5.5em;
    border-radius: 5px;

    &::before {
      content: '\00a0';
    }
  }
}

// Alert
.alert {
  display: inline-flex;
  align-items: center;
  padding: 0.2rem 0.6rem;
  margin: 0.7rem 0;
  border-radius: 20px;

  &-danger {
    background: $danger-color;
    color: $light-color;
  }

  &-close {
    cursor: pointer;
    border-radius: 50%;
    color: lighten($dark-color, 5%);
    background-color: $light-color;
    padding: 0.2rem;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.5rem;
  }
}

// Tooltip
.tooltip {
  &-text {
    visibility: hidden;
    width: 120px;
    background-color: $dark-color;
    color: $light-color;
    text-align: center;
    border-radius: 8px;
    padding: 0.2rem 0;
    position: absolute;
    z-index: 1;
    transform: none;

    &-bottom {
      top: 150%;
      left: 50%;
      margin-left: -60px;

      &::after {
        content: '';
        position: absolute;
        bottom: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent $dark-color transparent;
      }
    }

    &-left {
      top: 0px;
      right: 110%;

      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 100%;
        margin-top: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent transparent $dark-color;
      }
    }
  }

  &:hover {
    .tooltip-text {
      visibility: visible;
    }
  }
}

// CSS transition group styles

// Vertical ease-in-out
.vertical-transition-enter {
  opacity: 0;
  transform: translateY(-50%);
}
.vertical-transition-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 400ms;
}
.vertical-transition-exit {
  opacity: 1;
}
.vertical-transition-exit-active {
  opacity: 0;
  transform: translateY(-50%);
  transition: all 400ms;
}

// Vertical ease-in
.vertical-transition-ease-in-enter {
  opacity: 0;
  transform: translateY(-50%);
}
.vertical-transition-ease-in-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 400ms;
}
.vertical-transition-ease-in-exit {
  opacity: 0;
  transition: none;
}

/* MEDIA QUERIES */

/* TABLETS */
@media screen and (max-width: 768px) {
  .mobile-button {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    background: $primary-color;
    color: $light-color;
  }
}

/* MOBILE */
@media screen and (max-width: 480px) {
  .btn {
    min-width: 100px;
  }

  .x-large {
    font-size: 1.7rem;
  }

  .lead {
    font-size: 1rem;
  }

  .px-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .px-4 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
