@import '../../../../sass/config';

.side-card-container {
  margin-left: 3rem;

  .side-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 8px;
    padding: 1.5rem;
    height: fit-content;
    line-height: 1;

    .card-user-info {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 1rem;

      .user-name-and-type {
        display: flex;
        flex-direction: column;
        margin-left: 0.4rem;
      }
    }
  }
}

/* MEDIA QUERIES */

/* TABLEST */
@media screen and (max-width: 768px) {
  .side-card {
    position: inherit;
    align-items: center;
    margin-bottom: 1rem;
    text-align: center;
  }
}
