.swipe-block {
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-wrapper {
    display: flex;
  }

  &-item {
    width: 400px;
    padding: 0.5rem 0.5rem;
    outline: none;
  }
}
