@import '../../../sass/config';

.dropdown {
  &-menu {
    position: relative;
    display: inline-block;
  }

  &-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 40px;
    transform: translateX(-50%);
    left: 50%;
    min-width: 225px;
    height: auto;
    overflow: hidden;
    background-color: $light-color;
    border-radius: 8px;
    z-index: 15;

    div {
      > a {
        display: block;
      }
    }
  }

  &-transition-ease-in {
    &-enter {
      opacity: 0;
      transform: translate(-50%, -50%);
    }

    &-enter-active {
      opacity: 1;
      transform: translate(-50%, 0);
      transition: all 400ms;
    }

    &-exit {
      opacity: 0;
      transition: none;
    }
  }
}
