.progress-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  align-items: center;
}

/* MEDIA QUERIES */

/* TABLETS */
@media screen and (max-width: 768px) {
  .progress-bar {
    display: none;
  }
}
