@import '../../../../sass/config';

.radio-container {
  display: block;
  position: relative;
  text-align: center;
  cursor: pointer;
  color: $grey-color;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;

    &:checked ~ .checkmark {
      border-color: $primary-color;
      background-color: $primary-color;
      color: $light-color;
    }

    &:checked ~ .radio-label {
      color: $primary-color;
    }
  }

  .checkmark {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid $grey-color;
    border-radius: 50%;
    margin: 0.3rem;

    &-md {
      height: 40px;
      width: 40px;
    }

    &-lg {
      height: 60px;
      width: 60px;
    }
  }

  &:hover input ~ .checkmark {
    border-color: $primary-color;
  }

  &:hover {
    color: $primary-color;
  }
}
