@import '../../../../sass/config';

.radio-container {
  display: block;
  position: relative;
  cursor: pointer;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;

    &:checked ~ .checkmark {
      border-color: $primary-color;
      background-color: $primary-color;
      color: $light-color;
    }
  }

  .checkmark {
    display: inline-block;
    height: 40px;
    width: 40px;
    border: 1px solid $light-grey-color;
    border-radius: 50%;
    margin: 0.3rem;
    text-align: center;
    vertical-align: middle;
    line-height: 2.5;
  }

  &:hover input ~ .checkmark {
    border-color: $primary-color;
  }
}
