@import '../../../../sass/config';

.checkbox-card {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 8px;
  padding: 1rem;
  line-height: 1;
  background-color: $light-color;
  width: 100%;
  height: 70px;
  color: $dark-color;
  transition: all 0.2s ease-in-out;
  position: relative;
  cursor: pointer;
  overflow: hidden;

  &.checked,
  &:hover {
    color: $light-color;
  }

  &:hover {
    background-color: lighten($primary-color, 5%);
  }

  &.checked {
    background-color: $primary-color;
  }

  input[type='checkbox'] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
}

/* MEDIA QUERIES */

/* TABLETS */
@media screen and (max-width: 768px) {
  .checkbox-card {
    width: auto;
  }
}
