@import '../../../sass/config';

.cards-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  margin: 2rem;
}

.quick-filter-wrapper {
  margin-top: 0.7rem;
  padding: 1.5rem;
  position: absolute;
  background-color: $light-color;
  z-index: 15;
  border-radius: 8px;
}

.no-results-img {
  display: block;
  width: 250px;
  height: 250px;
  margin-top: 2rem;
  background: url('../../../img/illustrations/lost.jpg') no-repeat center
    center/cover;
}

/* MEDIA QUERIES */

/* BIG SCREENS */
@media screen and (min-width: 1080px) {
  .cards-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* TABLEST */
@media screen and (max-width: 768px) {
  .cards-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* MOBILE */
@media screen and (max-width: 480px) {
  .cards-container {
    margin: 1rem 0.5rem;
  }
}
