@import '../../../../sass/config';

.delete-btn {
  outline: none;
  background: none;
  border: none;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  &-icon {
    color: $grey-color;
    background: $light-color;
    cursor: pointer;
    border-radius: 50%;
    padding: 0.7rem;
    transition: 0.4s;
  }
}
