@import '../../../../../sass/config';

.progress-step {
  width: auto;
  margin-left: 0.5rem;
  margin-right: 0.5rem;

  .circle {
    margin: auto;
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in;
  }

  &.current {
    .circle {
      border-color: $primary-color;
    }
  }

  &:first-child {
    .progress-icon {
      &::before {
        display: none;
      }
    }
  }

  &:last-child {
    .progress-icon {
      &::after {
        display: none;
      }
    }
  }
}

.progress-icon {
  margin: auto;
  border: 2px solid $grey-color;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all 0.3s ease-in;

  .current & {
    background-color: $primary-color;
    border-color: $primary-color;

    i {
      color: $light-color;
      transition: all 0.3s ease-in;
    }
  }

  .previous & {
    background-color: $primary-color;
    border-color: $primary-color;

    i {
      color: $light-color;
    }
  }

  .next & {
    i {
      color: $grey-color;
    }
  }
}
