@import '../../../sass/config';

.localities {
  &-container {
    background: $light-color;
    border-radius: 8px;
    width: 900px;
    height: 500px;
    padding: 3rem;
    overflow: overlay;
  }

  &-header {
    display: flex;
    align-items: center;

    > button {
      margin-left: 1rem;
    }
  }

  &-list {
    columns: 4 50px;
  }

  &-item {
    display: table-row;
    margin: 1rem 0;
    break-inside: avoid-column;
  }

  &-loading-spinner {
    position: absolute;
    width: 50px;
    transform: translate(50%, 50%);
    right: 50%;
    bottom: 50%;
  }

  &-question-wrapper {
    position: fixed;
    top: 25px;
    left: 25px;
    z-index: 10;
    background: $light-color;
    border-radius: 8px;
    padding: 1rem 2rem;

    .question {
      text-align: center;
      padding: 1.5rem;
    }

    .button-box {
      display: flex;
      flex-direction: row;

      > .btn:last-child {
        margin-left: 0.2rem;
      }
    }
  }
}
