@import '../../../sass/config';

.pagination {
  display: flex;
  justify-content: center;

  &-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.2rem;
    padding: 1rem;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    user-select: none;

    &-current {
      background-color: $primary-color;
      color: $light-color;
    }

    &-page {
      border: 1px solid lighten($dark-color, 50%);
      background-color: $light-color;
      color: $dark-color;
      cursor: pointer;
    }

    &-skip {
      border: 1px solid lighten($dark-color, 50%);
      background-color: $light-color;
      color: $grey-color;
    }
  }
}
