@import '../../../../sass/config';

/* MEDIA QUERIES */

/* TABLETS */
@media screen and (max-width: 768px) {
  .all-filters {
    &-wrapper {
      position: fixed;
      overflow-y: scroll;
      top: 50px;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 10;
    }

    .close-btn {
      position: absolute;
      top: 5px;
      right: 20px;
      border: none;
      background: transparent;
      color: $dark-color;
      outline: none;
    }

    position: static;
    width: 100%;
    min-height: 100%;
    background-color: $light-color;
    display: block;
    padding: 2rem;
  }
}

/* MOBILE */
@media screen and (max-width: 480px) {
  .all-filters {
    padding: 2rem 0.5rem;
  }
}
