@import '../../../sass/config';

.card {
  background: $light-color;
  border-radius: 5px;
  cursor: pointer;
  min-width: 330px;

  &-gallery-wrapper {
    position: relative;
  }

  &-btn-container {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    z-index: 5;
  }

  &-info {
    padding: 1rem;
    position: relative;
  }

  &-param {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.2rem;

    &-wrapper {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 1rem;
    }
  }

  &-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-feature {
    position: relative;
    display: flex;
    border: 1px solid $primary-color;
    border-radius: 50%;
    color: $primary-color;
    height: 35px;
    width: 35px;
    justify-content: center;
    align-items: center;
    margin: 0 0.2rem;

    &-wrapper {
      position: relative;
    }
  }

  &-features {
    position: absolute;
    display: flex;
    right: 50%;
    transform: translateY(-50%);
  }
}

/* MEDIA QUERIES */

/* TABLEST */
@media screen and (max-width: 768px) {
  .card-block {
    flex-direction: column;
  }
  .card-bottom {
    align-items: flex-start;
  }
}
