@import '../../../sass/config';

.card {
  background: $light-color;
  border-radius: 5px;
  cursor: pointer;

  &-photos {
    position: relative;
    width: 100%;
    height: 0;
    overflow: hidden;
    margin: 0;
    padding-bottom: 60%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transition: all 0.2s ease-in-out;

    .photo-element {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
    }
  }

  &-info {
    padding: 1rem;
    position: relative;
  }

  &-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &-bottom {
    align-items: flex-end;
  }

  &:hover {
    .card-photos {
      opacity: 0.9;
    }
  }

  .time-stamp {
    opacity: 50%;
  }

  &-features {
    display: flex;
  }

  &-feature {
    display: flex;
    border-radius: 50%;
    background: $accent-color;
    height: 35px;
    width: 35px;
    justify-content: center;
    align-items: center;
    margin: 0 0.2rem;
  }
}

/* MEDIA QUERIES */

/* TABLEST */
@media screen and (max-width: 768px) {
  .card-block {
    flex-direction: column;
  }
  .card-bottom {
    align-items: flex-start;
  }
}
