@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

html,
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

@supports (padding: max(0px)) {
  body,
  header,
  footer {
    padding-left: min(0vmin, env(safe-area-inset-left));
    padding-right: min(0vmin, env(safe-area-inset-right));
    padding-top: min(0vmin, env(safe-area-inset-top));
    padding-bottom: min(0vmin, env(safe-area-inset-botpadding-bottom));
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.pin > input {
  text-align: center;
  border-radius: 8px;
  border: none;
  margin: 0.5rem;
  width: 3rem;
  height: 4rem;
  font-size: 2rem;
  box-sizing: border-box;
}

.pin > input:focus-visible {
  outline: none;
}

.pin-light > input {
  background-color: #d8d8d8;
}

.pin-light > input:focus-visible {
  border: 2px solid #bc0052;
  background-color: transparent;
}

.pin-dark > input {
  background-color: #49414e;
  color: #ffffff;
}

.pin-dark > input:focus-visible {
  border: 2px solid #f5006a;
  background-color: transparent;
}

@media only screen and (max-width: 600px) {
  .pin > input {
    margin: 0.3rem;
  }
}

.carousel-slider {
  border-radius: 20px;
}

.carousel .thumb {
  display: inline-flex !important;
  border: 3px solid transparent !important;
  border-radius: 8px;
}

.carousel .thumb.selected,
.carousel .thumb:hover {
  border: 3px solid #f5006a !important;
}

.carousel .thumbs-wrapper {
  margin: 0 !important;
}

.carousel .slide iframe {
  margin: 0 !important;
}

.thumbs {
  margin-bottom: 0;
  padding-inline-start: 0;
}

.dropzone-container {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}

.dropzone {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-width: 2px;
  border-radius: 2px;
  border-color: #eeeeee;
  border-style: dashed;
  background-color: #fafafa;
  color: #bdbdbd;
  outline: none;
  transition: border 0.24s ease-in-out;
}

.searchbar-relative {
  position: relative;
}

.searchbar-fixed {
  transition: transform 0.3s ease;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 500;
}

.searchbar-hidden {
  transform: translate3d(0, -100%, 0);
}

.searchbar-transition {
  transition: none;
}

.custom-scrollbar-light::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: none;
  background-color: #ffffff;
}

.custom-scrollbar-light::-webkit-scrollbar {
  height: 6px;
  background-color: #ffffff;
}

.custom-scrollbar-light::-webkit-scrollbar-thumb {
  background-color: #bc0052;
}

.custom-scrollbar-dark::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: none;
  background-color: #1c1c22;
}

.custom-scrollbar-dark::-webkit-scrollbar {
  height: 6px;
  background-color: #1c1c22;
}

.custom-scrollbar-dark::-webkit-scrollbar-thumb {
  background-color: #f5006a;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: var(--progressBar);

  position: fixed;
  z-index: 5000 !important;
  top: 0;
  left: 0;
  background-color: #f5006a;

  width: 100%;
  height: 2px;
}

#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px var(--progressBar), 0 0 5px var(--progressBar);
  opacity: 1;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}
