html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.pin > input {
  text-align: center;
  border-radius: 8px;
  border: none;
  margin: 0.5rem;
  width: 3rem;
  height: 4rem;
  font-size: 2rem;
  box-sizing: border-box;
}

.pin > input:focus-visible {
  outline: none;
}

.pin-light > input {
  background-color: #d8d8d8;
}

.pin-light > input:focus-visible {
  border: 2px solid #ff337a;
  background-color: transparent;
}

.pin-dark > input {
  background-color: #49414e;
  color: #ffffff;
}

.pin-dark > input:focus-visible {
  border: 2px solid #ff4788;
  background-color: transparent;
}

@media only screen and (max-width: 600px) {
  .pin > input {
    margin: 0.3rem;
  }
}

.carousel-slider {
  border-radius: 20px;
}

.carousel .thumb {
  display: inline-flex !important;
  border: 3px solid transparent !important;
  border-radius: 8px;
}

.carousel .thumb.selected,
.carousel .thumb:hover {
  border: 3px solid #ff4788 !important;
}

.carousel .thumbs-wrapper {
  margin: 0 !important;
}

.thumbs {
  margin-bottom: 0;
  padding-inline-start: 0;
}

.dropzone-container {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}

.dropzone {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-width: 2px;
  border-radius: 2px;
  border-color: #eeeeee;
  border-style: dashed;
  background-color: #fafafa;
  color: #bdbdbd;
  outline: none;
  transition: border 0.24s ease-in-out;
}

.searchbar-relative {
  position: relative;
}

.searchbar-fixed {
  transition: transform 0.3s ease;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 500;
}

.searchbar-hidden {
  transform: translate3d(0, -100%, 0);
}

.searchbar-transition {
  transition: none;
}
