@import '../../../../sass/config';

.like-btn {
  &-active {
    color: $light-color !important;
    background: $primary-color !important;
  }

  &-disabled {
    color: $grey-color;
    background: $light-color;
  }
}
