@import '../../../../sass/config';

.like-btn {
  &-active {
    color: $light-color !important;
    background: rgba(237, 71, 81, 0.9) !important;
  }

  &-disabled {
    color: $grey-color;
    background: $light-color;
  }
}
