@import '../../../sass/config';

.menu-toggle {
  display: none;
}

/* MEDIA QUERIES */

/* TABLETS */
@media screen and (max-width: 768px) {
  .menu-toggle {
    display: block;
    position: absolute;
    span {
      display: block;
      width: 33px;
      height: 4px;
      margin-bottom: 5px;
      position: relative;

      background: $dark-color;
      border-radius: 3px;

      z-index: 1;

      transform-origin: 4px 0px;

      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;

      &:first-child {
        transform-origin: 0% 0%;
      }

      &:nth-last-child(2) {
        transform-origin: 0% 100%;
      }
    }

    input {
      display: block;
      width: 40px;
      height: 32px;
      position: absolute;
      top: -7px;
      left: -5px;
      cursor: pointer;
      opacity: 0;
      z-index: 2;
    }

    input:checked ~ span {
      opacity: 1;
      transform: rotate(45deg) translate(0, 0);
    }

    input:checked ~ span:nth-last-child(2) {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2);
    }

    input:checked ~ span:nth-last-child(1) {
      transform: rotate(-45deg) translate(-2px, -2px);
    }
  }
}
