@import '../../../sass/config';

.divisions-container {
  background: $light-color;
  border-radius: 8px;
  width: 900px;
  height: 500px;
  padding: 3rem;
  overflow: overlay;

  .city {
    &-list {
      display: grid;
      grid-template: 'a a a a a' 3.2rem;
    }

    &-item {
      margin: 1rem 0;
    }
  }

  .division {
    &-header {
      display: flex;
      align-items: center;

      > button {
        margin-left: 1rem;
      }
    }

    &-list {
      columns: 4 50px;
    }

    &-item {
      display: table-row;
      margin: 1rem 0;
      break-inside: avoid-column;
    }

    &-level {
      &::after {
        content: ' > ';
        margin: 0 0.28rem;
      }

      &:last-of-type {
        content: '';
      }
    }
  }

  .search-division-item {
    cursor: pointer;
    padding: 0.5rem 0.8rem;
    border-bottom: 1px solid $light-grey-color;

    &:hover {
      background-color: $light-grey-color;
    }
  }

  .react-autosuggest__suggestions-container {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    width: 100%;
    z-index: 10;
    margin-top: 0.2rem;
    background-color: $light-color;
    border: 1px solid $light-grey-color;
    border-radius: 8px;
    overflow: hidden;
    transform: translateY(-20px);
    transition: visibility 0s, opacity 0.3s linear, transform 0.3s linear;
  }

  .react-autosuggest__suggestions-container--open {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }

  .react-autosuggest__input {
    border: 1px solid $grey-color;
    border-radius: 8px;
    background-clip: padding-box;
    outline: none;
    transition: all 0.3s ease-out;
    display: block;
    padding: 0.385rem 0.5rem;
    width: 100%;
  }
}
